.article {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-align: end;
  justify-content: end;

  .article-card {
    color: var(--color-gray-12);
    transition: 0.2s ease-in-out;
    font-weight: bold;
  }
}
.article:hover {
  transform: translate3D(0, -3%, 0);
  transition: 0.2s ease-in-out;

  .article-card {
    color: var(--color-accent-9);
    transition: 0.2s ease-in-out;
  }
}
