.article {
  cursor: pointer;
  transition: 0.2s ease-in-out;

  .article-title {
    color: var(--color-gray-12);
    margin: var(--space-2) var(--space-0);
    transition: 0.2s ease-in-out;
  }
}
.article:hover {
  transform: translate3D(0, -3%, 0);
  transition: 0.2s ease-in-out;

  .article-title {
    color: var(--color-accent-9);
    transition: 0.2s ease-in-out;
  }
}
