@import '@woozdesign/ui/dist/styles.css';
@import '@/styles/notion.css';
@import '~prismjs/themes/prism-tomorrow.css';
@import '~katex/dist/katex.min.css';

body {
  margin: 0;
  overflow-x: hidden;
  max-width: 100% !important;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  object-fit: cover;
  -o-user-drag: none;
  user-drag: none;
}
